.input {
  display: flex;
  align-items: center;
  width: 284px;
  padding: 8px 22px;
  padding-left: 44px;
  margin-bottom: 2px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  background-color: #19191c;
  border: none;

  &:focus-visible {
    outline: 2px solid #6b57ff;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &[type='search']::-moz-search-clear-button {
    display: none;
  }

  @media (prefers-color-scheme: light) {
    color: #19191c;
    background-color: #fff;
  }
}
