.input {
  display: flex;
  align-items: center;
  width: 284px;
  padding: 8px 22px;
  padding-left: 44px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  background-color: #19191c;
  border: none;

  &:focus-visible {
    outline: 2px solid #6b57ff;
  }

  @media (prefers-color-scheme: light) {
    color: #19191c;
    background-color: #fff;
  }
}

.input::-webkit-search-decoration,
.input::-webkit-search-cancel-button,
.input::-webkit-search-results-button,
.input::-webkit-search-results-decoration {
  display: none;
}

.input[type='search']::-moz-search-clear-button {
  display: none;
}
