.wrapper {
  position: relative;
  width: fit-content;
  min-width: 284px;
  min-height: calc(100vh - 72px);
  background-color: #19191c;

  @media (prefers-color-scheme: light) {
    color: #19191c;
    background-color: #fff;
    border: 1px solid rgb(25 25 28 / 20%);
  }
}

.fallbackWrapper {
  position: absolute;
  inset: 0;
  top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
